<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- for the Restful services -->
    <add key="authTicketVersion" value="1"/>
    <add key="authTicketTimeout" value="3000"/>
    <add key="authTicketSlidingExpiration" value="true"/>
    <add key="authTicketEncryptionKey" value="17BC1F13B0C4F1E3FE2EC4B480A36862F22267D78517648CAC3A364DA2A3B1A3"/>
  </appSettings>
</configuration>